[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "deps/libsodium"]
	path = deps/libsodium
	url = https://github.com/jedisct1/libsodium.git
