*.o
/.direnv/
.privenv
nostril
/result
build.log
configurator.out*
configurator
.build-result
.buildcmd
config.h
tags
libsecp256k1.a
/target

Cargo.lock
Cargo.toml
*.json
scripts/jb55-post
scripts/nostr-follows
scripts/nostr-req
scripts/subnote
/dist
/version
